@font-face {
  font-family: 'iconfont';
  src:
    url('@/assets/iconfont/iconfont.woff2') format('woff2'),
    url('@/assets/iconfont/iconfont.woff') format('woff'),
    url('@/assets/iconfont/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-view2:before {
  content: '\e60f';
}

.icon-zan2:before {
  content: '\e6cd';
}

.icon-zan:before {
  content: '\e60c';
}

.icon-xing:before {
  content: '\e60d';
}

.icon-liulan:before {
  content: '\e688';
}

.icon-notify:before {
  content: '\e645';
}

.icon-wendang:before {
  content: '\e61a';
}

.icon-wenda2:before {
  content: '\e692';
}
